<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<body background="./assets/children3.jpg">
  <mat-toolbar>
    <mat-icon>home</mat-icon>
    <a mat-button routerLink="/menu" routerLinkActive="active">Inici</a>
    <mat-icon>storage</mat-icon>
    <a mat-button routerLink="/dades" routerLinkActive="active">Dades</a>
    <mat-icon> insert_chart</mat-icon>
    <a mat-button routerLink="/grafics" routerLinkActive="active">Gràfics</a>
  </mat-toolbar>

  <!-- <h1 *ngFor="let titol of dadaTitol" >{{ titol.n | spacing:titol.n}} </h1> -->
  <h1 [@animacioBanner]="state">{{ megadada | spacing}} </h1>
  <h2 [@animacioBanner]="state">Tot el que no veiem</h2>
</body>